body {
    /* background-color: darkgrey;  */
    background-image: url("../img/cssbackdark.jpg");
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: block;

    /* border: 4px solid black; */

}



.containerTimeScore {
    display: flex;
    height: 100px;
    align-content: center;

    justify-content: center;
    
    
   
    
    
}


#timer {

    width: 100px;
    height: 100px;
    margin: auto;
    /* font-family:"fantasy"; */

    align-content:center;
    align-items: center;
    display:flex;
    justify-content: center;
    /* border: 5px solid #412c0229; */
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 auto; 
    padding: 18px 0; 
    width: 250px;
    font-size: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border-style: outset; */
    color:lightgray;
    
    
    
    
    
    
    
    
  }

  #score {
    width: 100px;
    height: 100px;
    margin: auto;
    /* font-family: "fantasy"; */

    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    /* border: 5px solid #412c0229; */
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 18px 0;
    width: 250px;
    font-size: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border-style: outset; */
    color:lightgray;
    
    
    
  }



  

